
.waline-comment-content {
  margin: 6px;
  padding: 6px;
  border-radius: 6px;

  p {
      margin: 0;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      /*这里设置第几行显示省略号，可以设置第一行或者其他行*/
  }
}

.waline-comment-content-author {
  text-align: end;
  margin-bottom: 6px;
}

